USE [master]
GO
/****** Object:  Database [InwentaryzacjaIT]    Script Date: 20.02.2026 11:37:07 ******/
CREATE DATABASE [InwentaryzacjaIT]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InwentaryzacjaIT', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\InwentaryzacjaIT.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'InwentaryzacjaIT_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\InwentaryzacjaIT_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InwentaryzacjaIT].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InwentaryzacjaIT]
GO
/****** Object:  User [SZYMON-LAP\Szymon]    Script Date: 20.02.2026 11:37:07 ******/
CREATE USER [SZYMON-LAP\Szymon] FOR LOGIN [SZYMON-LAP\Szymon] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  User [BUILTIN\Użytkownicy]    Script Date: 20.02.2026 11:37:07 ******/
CREATE USER [BUILTIN\Użytkownicy] FOR LOGIN [BUILTIN\Użytkownicy]
GO
ALTER ROLE [db_owner] ADD MEMBER [SZYMON-LAP\Szymon]
GO
/****** Object:  Table [dbo].[FAKTURY]    Script Date: 20.02.2026 11:37:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FAKTURY](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NumerFaktury] [varchar](50) NOT NULL,
	[DataWystawienia] [datetime] NOT NULL,
	[Sprzedawca] [varchar](100) NOT NULL,
	[Kwota] [decimal](18, 2) NOT NULL,
	[SciezkaDoPliku] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOGI]    Script Date: 20.02.2026 11:37:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOGI](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdUrzadzenia] [int] NULL,
	[DataZdarzenia] [datetime] NOT NULL,
	[TypZdarzenia] [varchar](50) NOT NULL,
	[StaraWartosc] [varchar](max) NULL,
	[NowaWartosc] [varchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOKALIZACJE]    Script Date: 20.02.2026 11:37:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOKALIZACJE](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NazwaBudynku] [varchar](100) NOT NULL,
	[NumerPokoju] [varchar](50) NOT NULL,
	[Opis] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RODZAJE]    Script Date: 20.02.2026 11:37:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RODZAJE](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nazwa] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STATUSY]    Script Date: 20.02.2026 11:37:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATUSY](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nazwa] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[URZADZENIA]    Script Date: 20.02.2026 11:37:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[URZADZENIA](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NumerInwentarzowy] [varchar](50) NULL,
	[NumerSeryjny] [varchar](100) NULL,
	[Model] [varchar](100) NOT NULL,
	[Producent] [varchar](100) NOT NULL,
	[DataZakupu] [datetime] NOT NULL,
	[DataGwarancji] [datetime] NULL,
	[IdStatusu] [int] NOT NULL,
	[IdLokalizacji] [int] NOT NULL,
	[IdRodzaju] [int] NULL,
	[IdUzytkownika] [int] NULL,
	[IdFaktury] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UZYTKOWNICY]    Script Date: 20.02.2026 11:37:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UZYTKOWNICY](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Imie] [varchar](50) NOT NULL,
	[Nazwisko] [varchar](50) NOT NULL,
	[NazwaUzytkownika] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[FAKTURY] ON 

INSERT [dbo].[FAKTURY] ([Id], [NumerFaktury], [DataWystawienia], [Sprzedawca], [Kwota], [SciezkaDoPliku]) VALUES (1, N'FV9382NND21', CAST(N'2026-02-05T19:53:53.807' AS DateTime), N'XKOM', CAST(450.00 AS Decimal(18, 2)), N'C:\Users\Szymon\source\repos\InwentaryzacjaIT\Materialy\Faktury\FV9382NND21.pdf')
INSERT [dbo].[FAKTURY] ([Id], [NumerFaktury], [DataWystawienia], [Sprzedawca], [Kwota], [SciezkaDoPliku]) VALUES (2, N'FV37D925KM58', CAST(N'2026-02-18T20:00:05.190' AS DateTime), N'MORELE', CAST(450.00 AS Decimal(18, 2)), N'C:\Users\Szymon\source\repos\InwentaryzacjaIT\Materialy\Faktury\FV37D925KM58.pdf')
SET IDENTITY_INSERT [dbo].[FAKTURY] OFF
GO
SET IDENTITY_INSERT [dbo].[LOGI] ON 

INSERT [dbo].[LOGI] ([Id], [IdUrzadzenia], [DataZdarzenia], [TypZdarzenia], [StaraWartosc], [NowaWartosc]) VALUES (1, 1, CAST(N'2026-02-18T20:05:06.147' AS DateTime), N'Utworzenie', N'---', N'Nr: IT000001, Model: Latitude 5520')
INSERT [dbo].[LOGI] ([Id], [IdUrzadzenia], [DataZdarzenia], [TypZdarzenia], [StaraWartosc], [NowaWartosc]) VALUES (2, 2, CAST(N'2026-02-18T20:12:24.403' AS DateTime), N'Utworzenie', N'---', N'Nr: IT000002, Model: P2419H')
INSERT [dbo].[LOGI] ([Id], [IdUrzadzenia], [DataZdarzenia], [TypZdarzenia], [StaraWartosc], [NowaWartosc]) VALUES (3, 3, CAST(N'2026-02-18T20:13:28.393' AS DateTime), N'Utworzenie', N'---', N'Nr: IT000003, Model: K120')
SET IDENTITY_INSERT [dbo].[LOGI] OFF
GO
SET IDENTITY_INSERT [dbo].[LOKALIZACJE] ON 

INSERT [dbo].[LOKALIZACJE] ([Id], [NazwaBudynku], [NumerPokoju], [Opis]) VALUES (1, N'Siedziba Glowna', N'Serwerownia', N'Dostep tylko IT')
INSERT [dbo].[LOKALIZACJE] ([Id], [NazwaBudynku], [NumerPokoju], [Opis]) VALUES (2, N'Budynek A', N'100', NULL)
INSERT [dbo].[LOKALIZACJE] ([Id], [NazwaBudynku], [NumerPokoju], [Opis]) VALUES (3, N'BUDYNEK A', N'101', NULL)
SET IDENTITY_INSERT [dbo].[LOKALIZACJE] OFF
GO
SET IDENTITY_INSERT [dbo].[RODZAJE] ON 

INSERT [dbo].[RODZAJE] ([Id], [Nazwa]) VALUES (1, N'Laptop')
INSERT [dbo].[RODZAJE] ([Id], [Nazwa]) VALUES (2, N'Monitor')
INSERT [dbo].[RODZAJE] ([Id], [Nazwa]) VALUES (3, N'Drukarka')
SET IDENTITY_INSERT [dbo].[RODZAJE] OFF
GO
SET IDENTITY_INSERT [dbo].[STATUSY] ON 

INSERT [dbo].[STATUSY] ([Id], [Nazwa]) VALUES (1, N'W magazynie')
INSERT [dbo].[STATUSY] ([Id], [Nazwa]) VALUES (2, N'W użyciu')
INSERT [dbo].[STATUSY] ([Id], [Nazwa]) VALUES (3, N'W naprawie')
SET IDENTITY_INSERT [dbo].[STATUSY] OFF
GO
SET IDENTITY_INSERT [dbo].[URZADZENIA] ON 

INSERT [dbo].[URZADZENIA] ([Id], [NumerInwentarzowy], [NumerSeryjny], [Model], [Producent], [DataZakupu], [DataGwarancji], [IdStatusu], [IdLokalizacji], [IdRodzaju], [IdUzytkownika], [IdFaktury]) VALUES (1, N'IT000001', N'JD82-SMDJ-93SA', N'Latitude 5520', N'DELL', CAST(N'2024-09-03T20:01:59.910' AS DateTime), CAST(N'2028-02-18T20:01:59.913' AS DateTime), 2, 2, 1, 1, 1)
INSERT [dbo].[URZADZENIA] ([Id], [NumerInwentarzowy], [NumerSeryjny], [Model], [Producent], [DataZakupu], [DataGwarancji], [IdStatusu], [IdLokalizacji], [IdRodzaju], [IdUzytkownika], [IdFaktury]) VALUES (2, N'IT000002', N'D92J-SJN1-D8QN', N'P2419H', N'Dell', CAST(N'2022-08-11T20:10:58.890' AS DateTime), CAST(N'2030-07-20T20:10:58.890' AS DateTime), 2, 3, 2, 2, 2)
INSERT [dbo].[URZADZENIA] ([Id], [NumerInwentarzowy], [NumerSeryjny], [Model], [Producent], [DataZakupu], [DataGwarancji], [IdStatusu], [IdLokalizacji], [IdRodzaju], [IdUzytkownika], [IdFaktury]) VALUES (3, N'IT000003', N'83NH-823N-PSD3', N'K120', N'Logitech', CAST(N'2025-07-31T20:12:29.260' AS DateTime), CAST(N'2027-08-07T20:12:29.260' AS DateTime), 2, 4, 6, 3, 1)
SET IDENTITY_INSERT [dbo].[URZADZENIA] OFF
GO
SET IDENTITY_INSERT [dbo].[UZYTKOWNICY] ON 

INSERT [dbo].[UZYTKOWNICY] ([Id], [Imie], [Nazwisko], [NazwaUzytkownika]) VALUES (1, N'JAN', N'KOWALSKI', N'JN')
INSERT [dbo].[UZYTKOWNICY] ([Id], [Imie], [Nazwisko], [NazwaUzytkownika]) VALUES (2, N'ANNA', N'NOWAK', N'AN')
INSERT [dbo].[UZYTKOWNICY] ([Id], [Imie], [Nazwisko], [NazwaUzytkownika]) VALUES (3, N'PIOTR', N'WIŚNIEWSKI', N'PW')
SET IDENTITY_INSERT [dbo].[UZYTKOWNICY] OFF
GO
ALTER TABLE [dbo].[URZADZENIA]  WITH CHECK ADD FOREIGN KEY([IdFaktury])
REFERENCES [dbo].[FAKTURY] ([Id])
GO
ALTER TABLE [dbo].[URZADZENIA]  WITH CHECK ADD FOREIGN KEY([IdLokalizacji])
REFERENCES [dbo].[LOKALIZACJE] ([Id])
GO
ALTER TABLE [dbo].[URZADZENIA]  WITH CHECK ADD FOREIGN KEY([IdRodzaju])
REFERENCES [dbo].[RODZAJE] ([Id])
GO
ALTER TABLE [dbo].[URZADZENIA]  WITH CHECK ADD FOREIGN KEY([IdStatusu])
REFERENCES [dbo].[STATUSY] ([Id])
GO
ALTER TABLE [dbo].[URZADZENIA]  WITH CHECK ADD FOREIGN KEY([IdUzytkownika])
REFERENCES [dbo].[UZYTKOWNICY] ([Id])
GO
USE [master]
GO
